.navbar{
    background-color:grey;
    color: black;
    font-size: 1.2em;
}
footer{
    background-color: grey;
    font-size: 30px;
    color: white;
}
footer a{

    font-size: 30px;
    color: white;
}